{% extends "layouts/base.html" %}

{% block title %} Calculadora de salário completa {% endblock %} 
{% block titulopagina %} Calculadora de salário completa {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %} 

<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" 
    integrity="sha512-Rdk63VC+1UYzGSgd3u2iadi0joUrcwX0IWp2rTh6KXFoAmgOjRS99Vynz1lJPT8dLjvo6JZOqpAHJyfCEZ5KoA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
</script>

{% endblock stylesheets %}

{% block content %}

<form role="form" method="POST" action="{{ url_for('calculadorasalario') }}">
    <div class="container mt-3 text">
        <p class="">Digite os valores abaixo para realizar o cálculo</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control moeda" value="R$ 0,00" name="salario_digitado" id="salario_digitado" value="{{ salario_digitado }}" required>
                    <label for="salario_digitado">Salário</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="hrmensais" value="0" id="hrmensais" value="{{ hrmensais }}" min="0" required>
                    <label for="hrmensais">Quantidade de horas mensais trabalhadas</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="qtde_dependentes" value="0" id="qtde_dependentes" value="{{ qtde_dependentes }}" min="0" required>
                    <label for="qtde_dependentes">Quantidade de dependentes</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control moeda" value="R$ 0,00" name="pensao" id="pensao" value="{{ pensao }}" required>
                    <label for="pensao">Valor do desconto de pensão alimentícia</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="porchenormal" value="0" id="porchenormal" value="{{ porchenormal }}" min="0" required>
                    <label for="porchenormal">Porcentagem do valor das horas extras normais</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" name="qtdehenormal" value="00:00" id="qtdehenormal" value="{{ qtdehenormal }}" min="0" required>
                    <label for="qtdehenormal">Quantidade de horas extras normais</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="porchecem" value="0" id="porchecem" value="{{ porchecem }}" min="0" required>
                    <label for="porchecem">Porcentagem do valor das horas extras em domingos e feriados</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" name="qtdehecem" value="00:00" id="qtdehecem" value="{{ qtdehecem }}" min="0" required>
                    <label for="qtdehecem">Quantidade de horas extras em domingos e feriados</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="dias_uteis" id="dias_uteis" value="{{ dias_uteis }}" min="22" required>
                    <label for="dias_uteis">Quantidade de dias úteis no mês (incluso sábado)</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="dom_fer" id="dom_fer" value="{{ dom_fer }}" min="4" required>
                    <label for="dom_fer">Quantidade de domingos e feriados do mês</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control moeda" value="R$ 0,00" name="outras_bonificacoes" id="outras_bonificacoes" value="{{ outras_bonificacoes }}" required>
                    <label for="outras_bonificacoes">Valor caso possua outras bonificações e ou comissões</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" name="quant_hn_normais" value="00:00" id="quant_hn_normais" value="{{ quant_hn_normais }}" min="0" max="10000000000" required>
                    <label for="quant_hn_normais">Quantidade de horas noturnas em dias úteis</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" name="quant_hn_extra_diasuteis" value="00:00" id="quant_hn_extra_diasuteis" value="{{ quant_hn_extra_diasuteis }}" min="0" max="10000000000" required>
                    <label for="quant_hn_extra_diasuteis">Quantidade de horas noturnas extras em dias úteis</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" name="quant_hn_extra_domfer" value="00:00" id="quant_hn_extra_domfer" value="{{ quant_hn_extra_domfer }}" min="0" max="10000000000" required>
                    <label for="quant_hn_extra_domfer">Quantidade de horas noturnas extras em domingos e feriados</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control moeda" value="R$ 0,00" name="desconto_vr" id="desconto_vr" value="{{ desconto_vr }}" required>
                    <label for="desconto_vr">Valor referente ao desconto de alimentação</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="recebe_vt" name="recebe_vt" value="{{ recebe_vt }}">
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                    </select>
                    <label for="recebe_vt">Recebe vale transporte?</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-3 mb-5" align="center">
                <button type="submit" class="btn btn-primary">Calcular</button>
                <button class="btn btn-outline-secondary" type="reset">Limpar</button>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(function() {
        
        jQuery(".moeda").maskMoney({
        prefix:'R$ ', 
        thousands:'.', 
        decimal:',',
        allowZero: true,
    })
    
    });
</script>
    

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}    
{% endblock javascripts %}
